.logo img{
    width: 300px;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url('/Images/page_images/blog.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}