body {
    font-family: Arial, sans-serif;
    background-color: #E0EECC; 
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px 80px; 
}